@media only screen and (max-width: 991px){
    .banner1{
        height: 450px;
        width: 100%;
        text-align: center;
    }
}
@media only screen and (max-width: 767px){
    .class1 p{
        width: 100%;
    }
    .footer{
        padding: 15px 0px;
    }
    .footer{
        display: flex;
        justify-content: center;
        align-items: start;
        gap: 35px;
        padding: 0PX;
    }

}
@media only screen and (max-width: 420px){
    .banner1{
        height: 500px;
        width: 100%;
    }
    .footer{
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-top: 25px;
    }
}
